<h2>All recipes</h2>
<% @recipes.each_slice(3) do |three_recipes| %>
<div class="row">
  <% three_recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well">
        <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h3>
        <h6><%= recipe.chef %></h6>
        <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <h4>Ingredients</h4>
        <ul>
          <% recipe.ingredients_list.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
        <p><%= recipe.directions %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>
