<h2>All recipes</h2>
<% @recipes.each do |recipe| %>
  <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h3>
  <h6><%= recipe.chef %></h6>
  <p><%= recipe.ingredients %></p>
  <p><%= recipe.directions %></p>
<% end %>
